
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-top: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.signup-block{
    width: 50%;
    max-width: 540px;
}

.signup-block h1{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #484848;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


.signup-block form{
    display: flex;
    flex-direction: column;
    
}

.signup-block input{
    height: 40px;
    padding: 4px 8px;
    border: 1px solid #ddd;
}

.email_button{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 10%;
    
}

.email_button button{
    width: 120px;
    height: 32px;
    color: #424242;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.email_button button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.signup-block-button{
    margin-top: 10px;
    padding: 10px 16px;
    background-color: #F57C48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}