<!DOCTYPE html>
<html lang="en" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="inc/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/menu/hodduk/list.css" type="text/css" />
</head>
<body>
    <main layout:fragment="main">
        <section class="main-banner-bg">
            <h1 class="d-none">호떡메뉴</h1>
            <p class="main-banner-txt">Hodduk</p>
            <h2>메 뉴</h2>
            <p class="main-banner-txt">세계로 뻗어나가는 K-호떡</p>
        </section>
        <section class="menu-card-list">
            <h1 class="d-none">호떡 목록</h1>
            <div class="content">
                <section class="menu-card" th:each="m : ${list}" >
                    <h1>
                        <a th:href="@{detail(id=${m.id})}" href="detail" th:text="${m.korName}">호떡</a>
                    </h1>
                    
                    <div class="d:none"><span th:text="${m.engName}">Hodduk</span><span th:text="${m.price}">4,500</span>원</div>
                    <div class="img-block">
                        <a href="detail" th:href="@{detail(id=${m.id})}"><img th:src="${m.img}" src="/image/hodduk/originalbasic/1.jpg"></a>
                    </div>
                </section>
            </div>
        </section>
        <div class="menu-back_block">
            <h1 class="menu-back_list"><a  href="/index">뒤로가기</a></h1>
        </div>
    </main>
</body>
</html>