<!DOCTYPE html>
<html lang="en">
<body>
    <footer class="footer">
        <section>
            <h1>뉴호떡정보</h1>
            <div class="footer-top_menu">
                <ul>
                    <li><a href="http://shillaadmin.cafe24.com/privacy-policy/">개인정보취급방침</a></li>
                    <li><a href="http://shillaadmin.cafe24.com/guide/">이용약관</a></li>
                    <li><a href="http://shillaadmin.cafe24.com/email-security/">이메일무단수집거부</a></li>
                </ul>
            </div>
            <div class="footer-info">
                <ul>
                    <li>(주)뉴호떡대표:뉴호떡</li>
                    <li>주소:서울시 백범호 3길 5가</li>
                    <li>사업자등록번호:111-22-33344</li>
                    <li>대표전화:01-2345-6789</li>
                    <li>팩스번호:01-2345-6789</li>
                </ul>
            </div>
            <div class="footer-copy">Copyright ⓒ 2024 Hodduk all rights reserved.<br></div>
        </section>
    </footer>
</body>
</html>