<!DOCTYPE html>
<html lang="en">
<body>
    <header class="header">
        <div>
            <h1><a href="/index">Hodduk</a></h1>
            <nav class="">
                <ul>
                    <!-- <li>
                        <a href="/user/signin" class="icon icon:user icon-size:5 icon-color:main-3">로그인</a>
                    </li> -->
                    <!-- 인증 되지 않았을 때 -->
                    <li sec:authorize="isAnonymous()">
                        <a class="icon icon:user icon-color:main-3" th:href="@{/user/signin}" href="/user/signin">로그인</a>
                    </li>
                    <!-- 인증 되었을 때 -->
                    <li sec:authorize="isAuthenticated()">
                        <!-- <span sec:authentication="principal.email"></span> -->
                        <a href="/user/info" th:text="${#authentication.name}">캐망했따</a>
                        <a class="icon icon:sign_out icon-color:main-3" th:href="@{/user/logout}" href="/user/logout">로그아웃</a>
                    </li>
                    <li>
                        <a href="" class="icon icon:list icon-size:5 icon-color:main-3">메뉴</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>