<!DOCTYPE html>
<html lang="en">
<body>
    <header class="header">
        <div>
            <h1><a href="/index">Hodduk</a></h1>
            <nav class="">
                <ul>
                    <li>
                        <a href="/user/signin" class="icon icon:user icon-size:5 icon-color:main-3">로그인</a>
                    </li>
                    <li>
                        <a href="" class="icon icon:list icon-size:5 icon-color:main-3">메뉴</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>