<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/test.css" type="text/css" />
    <link rel="stylesheet" href="/css/util/box.css" type="text/css" />
    <link rel="stylesheet" href="/css/components/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/components/footer.css" type="text/css" />
</head>
<body>
    <header class="header">
        <div>
            <h1><a href="">Hodduk</a></h1>
            <nav class="">
                <ul>
                    <li>
                        <a href="" class="icon icon-signin icon-size:1">로그인</a>
                    </li>
                    <li>
                        <a href="" class="icon icon-menu icon-size:1">메뉴</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="login-form">
            <h2>Sign In</h2>
            <form action="#">
                <input type="text" placeholder="아이디" required>
                <input type="password" placeholder="비밀번호" required>
                <button type="submit">로그인</button>
                <div class="actions">
                    <a href="#">회원가입</a>
                    <a href="#">아이디/비밀번호 찾기</a>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer">
        <h1>뉴호떡정보</h1>
        <section>
            <div class="footer-top_menu">
                <ul>
                    <li><a href="http://shillaadmin.cafe24.com/privacy-policy/">개인정보취급방침</a></li>
                    <li><a href="http://shillaadmin.cafe24.com/guide/">이용약관</a></li>
                    <li><a href="http://shillaadmin.cafe24.com/email-security/">이메일무단수집거부</a></li>
                </ul>
            </div>
            <div class="footer-info">
                <ul>
                    <li>(주)뉴호떡대표:뉴호떡</li>
                    <li>주소:서울시 백범호 3길 5가</li>
                    <li>사업자등록번호:111-22-33344</li>
                    <li>대표전화:01-2345-6789</li>
                    <li>팩스번호:01-2345-6789</li>
                </ul>
            </div>
            <div class="footer-copy">Copyright ⓒ 2024 Hodduk all rights reserved.<br></div>
        </section>
    </footer>
</body>
</html>