<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hoddeokku.web.repository.HoddukRepository">
    <select id="findAll" resultType="Hodduk">
		  select * from hodduk
          <where>
			<if test="query != null">
				and kor_name like '%${query}%'
			</if>
		</where>
    </select>

    <select id="findById" resultType="Hodduk">
      select * from hodduk
      where id=#{id}
    </select>

    <insert id="save" parameterType="Hodduk">
        INSERT INTO hodduk (kor_name, eng_name, price, description, img)
        VALUES (#{korName}, #{engName}, #{price}, #{description}, #{img})
    </insert>

    <update id="update" parameterType="Hodduk">
        UPDATE hodduk
        SET kor_name = #{korName},
            eng_name = #{engName},
            price = #{price},
            description = #{description},
            img = #{img}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM hodduk WHERE id = #{id}
    </delete>
</mapper>