<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hoddeokku.web.repository.UserRepository">

    <!-- 아이디 찾기 -->
    <select id="findByUsername" resultType="User">
      select * from hodduk.user where user_name = #{username};
    </select>

    <select id="existByUsername" resultType="boolean">
      SELECT COUNT(*) FROM hodduk.user WHERE user_name = #{username};
    </select>

    <!-- 회원가입 -->
    <insert id="save" parameterType="User">
          insert into hodduk.user (user_name, kor_name, email, phone_number, password) 
          values (#{username}, #{korname}, #{email}, #{phoneNumber}, #{password});
    </insert>

    <!-- 회원정보 수정 -->
    <update id="update" parameterType="User">
        update hodduk.user
        set 
          kor_name = #{korname},
          phone_number = #{phoneNumber},
          password = #{password}
        where id = #{id}

    </update>
</mapper>