<!DOCTYPE html>
<html lang="en" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="inc/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/support/faq/list.css" type="text/css" />
    <script src="/js/support/faq/list.js" defer></script>
</head>
<body>
    <main layout:fragment="main">
        <section class="faq-list">
            <header>
                <h1>자주 묻는 질문</h1>
            </header>
            <div class="faq-list-header">
                <span class="number">번호</span>
                <span class="title">제목</span>
                <!-- <span class="date">날짜</span> -->
            </div>
            <nav class="faq-list-body">
                <ul>
                    <li class="content" th:each="m : ${list}">
                        <div>
                            <span th:text="${m.id}" class="number">1</span>
                            <a 
                                th:href="@{/api/fqa/list(id=${m.id})}"
                                th:data-id="${m.id}" 
                                th:text="${m.title}"
                                href="detail" class="title"
                            >
                            공지사항 제목 1
                            </a>
                        </div>
                        <!-- <span th:text="${#dates.format(m.regDate, 'yyyy-MM-dd')}" class="date">24/03/08</span> -->
                    </li>

                </ul>
            </nav>
            <div class="menu-back_block">
                <h1 class="menu-back_list"><a  href="/index">뒤로가기</a></h1>
            </div>
        </section>
    </main>
</body>
</html>