<!DOCTYPE html>
<html lang="en" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="inc/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/support/notice/list.css" type="text/css" />
</head>
<body>
    <main layout:fragment="main">
        <section class="notice-list">
            <header>
                <h1>공지사항</h1>
            </header>
            <div class="notoce-list-header">
                <span class="number">번호</span>
                <span class="title">제목</span>
                <span class="date">날짜</span>
            </div>
            <nav class="notoce-list-body">
                <ul>
                    <li>
                        <span class="number">1</span>
                        <a href="detail" class="title"><span>공지사항 제목 1</span></a>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                    <li>
                        <span class="number">1</span>
                        <span class="title">공지사항 제목 1</span>
                        <span class="date">24/03/08</span>
                    </li>
                </ul>
            </nav>
        </section>
    </main>
</body>
</html>