<!DOCTYPE html>
<html lang="en" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="inc/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/menu/drink/list.css" type="text/css" />
</head>
<body>
    <main layout:fragment="main">
        <section class="main-banner-bg">
            <h1 class="d-none">음료메뉴</h1>
            <p class="main-banner-txt">drink</p>
            <h2>메 뉴</h2>
            <p class="main-banner-txt">세계로 뻗어나가는 K-음료</p>
        </section>
        <section class="menu-card-list">
            <h1 class="d-none">음료 목록</h1>
            <div class="content">
                <section class="menu-card">
                    <h1>
                        <a href="detail">음료</a>
                    </h1>
                    <h2>drink</h2>
                    <div><span>4,500</span>원</div>
                    <div class="img-block">
                        <a href="detail"><img src="/image/drink/Americano/ice/1.jpg"></a>
                    </div>
                </section>
                <section class="menu-card">
                    <h1>
                        <a href="detail">음료</a>
                    </h1>
                    <h2>drink</h2>
                    <div><span>4,500</span>원</div>
                    <div class="img-block">
                        <a href="detail.html"><img src="/image/drink/Americano/ice/1.jpg"></a>
                    </div>
                </section>
                <section class="menu-card">
                    <h1>
                        <a href="detail.html">음료</a>
                    </h1>
                    <h2>drink</h2>
                    <div><span>4,500</span>원</div>
                    <div class="img-block">
                        <a href="detail.html"><img src="/image/drink/Americano/ice/1.jpg"></a>
                    </div>
                </section>
                <section class="menu-card">
                    <h1>
                        <a href="detail.html">음료</a>
                    </h1>
                    <h2>drink</h2>
                    <div><span>4,500</span>원</div>
                    <div class="img-block">
                        <a href="detail.html"><img src="/image/drink/Americano/ice/1.jpg"></a>
                    </div>
                </section>
                <section class="menu-card">
                    <h1>
                        <a href="detail.html">음료</a>
                    </h1>
                    <h2>drink</h2>
                    <div><span>4,500</span>원</div>
                    <div class="img-block">
                        <a href="detail.html"><img src="/image/drink/Americano/ice/1.jpg"></a>
                    </div>
                </section>
                <section class="menu-card">
                    <h1>
                        <a href="detail.html">음료</a>
                    </h1>
                    <h2>drink</h2>
                    <div><span>4,500</span>원</div>
                    <div class="img-block">
                        <a href="detail.html"><img src="/image/drink/Americano/ice/1.jpg"></a>
                    </div>
                </section>
                <section class="menu-card">
                    <h1>
                        <a href="detail.html">음료</a>
                    </h1>
                    <h2>drink</h2>
                    <div><span>4,500</span>원</div>
                    <div class="img-block">
                        <a href="detail.html"><img src="/image/drink/Americano/ice/1.jpg"></a>
                    </div>
                </section>
                <section class="menu-card">
                    <h1>
                        <a href="detail.html">음료</a>
                    </h1>
                    <h2>drink</h2>
                    <div><span>4,500</span>원</div>
                    <div class="img-block">
                        <a href="detail.html"><img src="/image/drink/Americano/ice/1.jpg"></a>
                    </div>
                </section>
            </div>
        </section>
    </main>
</body>
</html>