<!DOCTYPE html>
<html lang="en" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="inc/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/edit-info.css" type="text/css" />
</head>
<body>
    <main style="flex: 1; display: flex; flex-direction: column; align-items: center;" layout:fragment="main">
        <h1 style="margin-top:10%; font-size: 30px; font-weight: bold;">수정이 완료되었습니다!</h1>
        <a href="/index" class="edit-info-block-button" style="color: aliceblue;">홈으로</a>
    </main>
</body>
</html>