<!DOCTYPE html>
<html lang="en" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="inc/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/find_user.css">
</head>
<body>
    <main layout:fragment="main">
        <nav>
            <h1 class="d:none">아이디 비밀번호 찾기</h1>
            <div>
                <a class="deco deco-size:5 icon:user icon-color:base-7" href="find-username">아이디 찾기</a>
                <a class="deco deco-size:5 icon:map_trifold_fill icon-color:base-4" style="color: #ced4da;" href="find-password">비밀번호 찾기</a>
            </div>
        </nav>
        <section class="find-block">
            <div class="head">
                <h1>아이디 찾기</h1>
            </div>
            <form action="">
                <label for="">이름</label>
                <input type="text">
                <label for="">이메일 주소</label>
                <input type="email">
                <div class="email_button">
                    <button>인증번호 받기</button>
                </div>
                <div style="text-align: right;">
                    <input type="text" style="width: 50%;" placeholder="인증번호 6자리 숫자 입력">
                    <button style="font-weight: bold;">확인</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>